.blog .hero {
    align-items: center;
    justify-content: center;
}

.blog .hero h1 {
    color: #e05929;
    margin-bottom: 15px;
    text-align: center;
}

.blog .hero-content {
    padding-bottom: 0;
    text-align: center;
}

.blog-posts .post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 10px 20px;
}

.blog-posts h3 {
    text-align: left;
}

.cat-select,
.cat-list a {
    color: #2F6B9C;
    cursor: pointer;
}

.filter {
    text-align: left;
}

.filter p {
    display: inline-block;
}

.cat-list {
    background-color: #ede9e6;
    height: 0px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 30px;
    position: absolute;
    transition: all .3s ease;
    z-index: 1;
}

.cat-list.toggled {
    height: 280px;
}

.post-content a {
    margin-top: 10px;
}

.post-content p {
    margin-bottom: 0;
}

@media (min-width: 1400px) {
    .blog-posts h3,
    .post-content {
        padding: 0 15px;
    }

    .blog .section {
        padding: 60px 80px;
    }
}