@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Arimo:400,700');


h1 {
    color: #e05929;
    font-family: 'Domine', serif;
    font-size: 48px;
    text-align: center;
}

h3 {
    color: #58514a;
    text-align: center;
}

@media (min-width: 768px) {
    h1 {
        font-size: 56px;
    }

    .blog-posts {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1300px;
    }

    .blog-posts .post {
        border: 10px solid #ede9e6;
        flex-basis: 50%;
    }

    .blog-posts .post-img {
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    .blog-posts .post {
        flex-basis: 33.3333%;
    }
}