@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Arimo:400,700');


h1 {
    color: #e05929;
    font-family: 'Domine', serif;
    font-size: 48px;
    text-align: center;
}

h3 {
    color: #58514a;
    text-align: center;
}

.nav-bg {
    background-color: #001641;
    height: 60px;
    margin-bottom: 30px;
    position: relative;
    top: 0;
    width: 100%;
}

@media (min-width: 768px) {
    h1 {
        font-size: 56px;
    }

    .nav-bg {
        height: 80px;
        margin-bottom: 40px;
    }
}

@media (min-width: 988px) {
    .blog-posts {
        display: flex;
        flex-wrap: wrap;
    }
}