@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Arimo:400,700');

.btn {
    background-color: #e05929;
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    transition: all .3s ease-in-out;
}

.post a {
    color: #001641;
    display: block;
}

.post h3 {
    color: #001641;
    font-family: 'Domine', serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.home-blog .post p {
    font-size: 14px;
    margin-bottom: 10px;
}

.section {
    font-family: 'Arimo', sans-serif;
}

.post-img {
    position: relative;
}

.hero {
    align-items: center;
    display: flex;
    height: 500px;
    position: relative;
    top: 0;
}

.hero h1 {
    color: #e05929;
    font-family: 'Domine', serif;
    font-size: 54px;
    text-align: left;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .hero h1,
.home .hero p {
    color: #58514a;
}

.home .hero h1 {
    border-bottom: 2px solid #e05929;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.hero-content {
    position: absolute;
}

.home .hero-content {
    padding: 0 25px;
}

.home-blog,
.latest-work {
    display: flex;
    flex-wrap: wrap;
}

.home-blog .post {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 8px 8px 20px;
}

.latest-work img {
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
    width: 100%;
}

.latest-work .post {
    height: 250px;
}

.latest-work .post a {
    height: 100%;
}

.latest-work .post-img {
    height: 100%;
}

.link-more {
    display: none;
}

.post-hover {
    display: none;
}

.section.case-studies {
    padding: 40px 0 0;
}

.section {
    padding: 40px 20px;
}

.section h2 {
    color: #e05929;
    font-family: 'Domine', serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
}

.view-post {
    font-weight: 600;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

@media (min-width: 480px) {
    .home .hero-content {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .btn:hover {
        background-color: rgba(224, 89, 41, 0.8);
    }

    .section.case-studies {
        padding: 60px 0 0;
    }

    .home-blog {
        margin-bottom: 60px;
    }

    .home-blog .post {
        border: 2px solid #ede9e6;
        margin-bottom: 0;
        padding: 15px;
    }

    .home-blog .post:nth-child(2) {
        margin: 0 15px;
    }

    .home .hero-content {
        margin-left: 15%;
    }

    .latest-work .post {
        height: 300px;
    }

    .post {
        flex-basis: 33.3333%;
    }

    .post h3 {
        transition: all .3s ease-in-out;
    }

    .post-hover {
        background-color: #000;
        color: #fff;
        opacity: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        transition: all .3s ease-in-out;
    }

    .post-hover span {
        border: 2px solid #fff;
        padding: 5px 15px;
    }

    .post-img {
        height: 160px;
        margin-bottom: 15px;
    }

    .post a:hover .post-hover {
        opacity: .6;
    }

    .post a:hover h3 {
        opacity: .5;
    }

    .post-img img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .hero h1 {
        font-size: 62px;
    }

    .home-blog,
    .latest-work {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .section {
        padding: 60px;
    }

    .view-post:hover {
        opacity: .6;
    }
}

@media (min-width: 988px) {
    .post-hover span {
        font-size: 22px;
    }

    .post-img {
        height: 220px;
    }

    .who-we-are .content {
        margin: 0 auto;
        max-width: 600px;
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .latest-work .post {
        height: 350px;
    }

    .post-img {
        height: 260px;
    }
}

@media (min-width: 1400px) {
    .post-img {
        height: 300px;
    }

    .home-blog {
        margin: 0 auto 60px;
    }

    .latest-work {
        margin: 0 auto;
    }
}