@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
.hero {
    align-items: center;
    display: flex;
    justify-content: center;

    height: 600px;
    position: absolute;
    top: 0;
}

.hero h1 {
    color: #fff;
    font-family: 'Domine', serif;
    font-size: 54px;
    position: absolute;
    text-align: center;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 62px;
    }
}