.nav-bg {
    background-color: #001641;
    height: 60px;
    margin-bottom: 30px;
    position: relative;
    top: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .nav-bg {
        height: 80px;
        margin-bottom: 40px;
    }
}