.services {
    background-color: #00548B;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.service:nth-child(odd) {
    background-color: #2F6B9C;
}

.service:nth-child(even) {
    background-color: #668BB2;
}

.service {
    background-color: #2F6B9C;
    padding: 40px 20px;
    text-align: center;
}

.service a {
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 15px;
    transition: all .3s ease-in-out;
}

.service a:hover {
    opacity: .6;
}

.section .quote {
    color: #58514a;
    font-family: 'Domine', serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    max-width: 350px;
}

.service p {
    color: #fff;
}

.service-name {
    font-family: 'Domine', serif;
    font-size: 20px;
}

.service-excerpt {
    font-size: 14px;
    margin-bottom: 30px;
}

.quote-name {
    border-top: 2px solid #e05929;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 20px 40px 0;
}

.wwd .hero-content {
    max-width: 565px;
    padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 988px) {
    .service {
        flex-basis: 50%;
    }

    .service:nth-child(1) {
        order: 1;
    }

    .service:nth-child(2) {
        background-color: #668BB2;
        order: 2;
    }

    .service:nth-child(3) {
        order: 4;
    }

    .service:nth-child(4) {
        background-color: #668BB2;
        order: 3;
    }

    .service:nth-child(5) {
        order: 4;
    }
}

@media (min-width: 768px) {
    .section .quote {
        font-size: 24px;
        line-height: 32px;
        max-width: 560px;
    }
}
 
@media (min-width: 988px) {
    .service {
        flex-basis: 33.3333%;
    }

    .services {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {
    .services {
        padding: 0 60px;
    }

    .service {
        padding: 40px;
    }

    .section .quote {
        font-size: 28px;
        line-height: 34px;
        max-width: 660px;
    }
}

@media (min-width: 1400px) {
    .services {
        padding: 0 80px;
    }

    .service {
        padding: 60px;
    }
}