@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

.bars:focus {
    outline: 0;
}

.bars {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 18px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.bars .icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 22px;
}

.bars.toggled .icon-bar {
    background-color: #001641;
}

.bars .icon-bar:nth-of-type(2), 
.bars .icon-bar:nth-of-type(3) {
    top: 0;
}

.bars .icon-bar+.icon-bar {
    margin-top: 4px;
}

.bars.toggled .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 6px;
}

.bars.toggled .icon-bar:nth-of-type(2) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    background-color: transparent;
}

.bars.toggled .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: -6px;
}

.logo,
.logo a,
.logo img {
    height: 100%;
}

.logo a {
    display: block;
}

.mobile-links {
    background-color: #fff;
    margin: 0;
    height: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}

.mobile-links.toggled {
    height: 250px;
    padding: 40px;
}

.mobile-links a {
    color: #000;
    display: block;
}

.mobile-links li {
    list-style: none;
}

.nav-primary {
    background-color: #001641;
    font-family: 'Arimo', sans-serif;
    height: 50px;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

.nav-lg {
    display: none;
}

@media (min-width: 768px) {
    .bars {
        display: none;
    }

    .links-right a {
        color: #fff;
        font-size: 14px;
        padding: 0 14px;
        transition: all .3s ease-in-out;
    }

    .links-right a:hover {
        opacity: .7;
    }

    .links-right a:nth-child(n+2) {
        border-left: 1px solid #fff;
    }

    .nav-lg {
        display: block;
    }

    .nav-primary {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: flex-end;
    }

    .nav-primary .logo {
        margin-right: auto;
        padding: 5px 0;
    }

    .nav-sm {
        display: none;
    }
}

@media (min-width: 988px) {
    .nav-lg {
        margin-right: 25px;
    }
}

@media (min-width: 1200px) {
    .nav-lg {
        margin-right: 40px;
    }
}